{% extends 'base.html' %}

{% block title %}Form for adding Article{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Adding article</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-success">Add article</button>
        </form>
    </div>
{% endblock content %}
