{% extends 'base.html' %}

{% block title %}Form for adding Article{% endblock title %}

{% block content %}
<div class="container px-5 pt-6 pb-12 mx-auto">
    <form class="bg-white p-10 rounded-lg min-w-full" method="post">
        {% csrf_token %}
        <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Adding article</h1>
        <div>
            <label class="text-gray-800 font-semibold block my-3 text-md" for="title">Title</label>
            <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="title" id="title" placeholder="Lorum ipsum" />
        </div>
        <div>
            <label class="text-gray-800 font-semibold block my-3 text-md" for="anons">Anons</label>
            <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="anons" id="anons" placeholder="Lorum ipsum" />
        </div>
        <div>
            <label class="text-gray-800 font-semibold block my-3 text-md" for="full_text">Text</label>
            <div class="mt-1">
              <textarea class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" rows="5" type="text" name="full_text" id="full_text" placeholder="News full text"></textarea>
            </div>
        </div>
        <div>
            <label class="text-gray-800 font-semibold block my-3 text-md" for="date">Date</label>
            <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="datetime" name="date" id="date" placeholder="2020-11-11 11:11:11" />
        </div>
        {% if error %}
            <div class="container pt-8 mx-auto">
                <div class="relative px-4 py-3 pb-3 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
                    <span class="absolute inset-y-0 left-0 flex items-center ml-4">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
                    </span>
                    <p class="ml-6">{{ error }}. Add info in all inputs!</p>
                </div>
            </div>
        {% endif %}
        <button type="submit" class="w-full mt-6 mb-3 bg-indigo-500 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Add article</button>
    </form>
</div>
{% endblock content %}
