{% extends 'base.html' %}

{% block title %}{{ data.title }}{% endblock title %}

{% block content %}
    <div class="container px-5 pt-12 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">{{ data.title | upper }}</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Lorem, ipsum dolor.</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Edison bulb retro cloud bread echo park, 
                helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. 
                Single-origin coffee ennui shaman taiyaki vape DIY tote bag 
                drinking vinegar cronut adaptogen squid fanny pack vaporware. 
                Man bun next level coloring book skateboard four loko knausgaard. 
                Kitsch keffiyeh master cleanse direct trade indigo juice before they 
                sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. 
                Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage 
                franzen organic drinking vinegar.
            </p>
        </div>
    </div>
    <div class="container px-5 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">JSON Objects from data</h2>
        </div>
        <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3">
            {% if data.object %}
                <div class="p-4">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ data.object }}</h2>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if data.values %}
                {% for element in data.values %}
                    {% if element == "hello" %}
                        <div class="p-4 ">
                            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                                <div class="p-6">
                                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ element | lower }}</h2>
                                </div>
                            </div>
                        </div> 
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if data.object %}
                {% for element in data.object %}
                    <div class="p-4 ">
                        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                            <div class="p-6">
                                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ element | lower }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}